@font-face {
    font-family: main-title;
    src: url(Test\ Tiempos\ Collection/test-tiempos-headline-vf-roman.woff2);
}

@font-face {
    font-family: text;
    src: url(test-signifier-vf-roman.woff2);
}

@font-face {
    font-family: title;
    src: url(porky_bold/Porky\ Bold.otf);
}

@font-face {
    font-family: logo;
    src: url(white_on_black/White\ On\ Black.ttf);
}

:root {
    --main-yellow-color: rgb(243, 183, 0);
    --main-red-color: rgb(202, 60, 37)
}

body {
    color: rgb(255, 255, 255);
    margin: 0;
    background-color: rgb(35, 29, 29);
}

main {
    width: 1000px;
    margin: auto;
}

h1 {
    font-family: logo;
    letter-spacing: 1px;
    margin: 10px;
}

h2 {
    font-family: main-title;
    font-size: 32px;
    letter-spacing: 1px;
    margin: 10px 0px;
    color: var(--main-yellow-color);
}

h4 {
    font-family: arial;
    margin: 0px;
}

p {
    margin: 5px 0px;
}

#navigation div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    border-bottom: 1px solid var(--main-yellow-color);
    background-color: rgb(23, 22, 16);
    color: white;
    padding: 10px 20px;
    margin-bottom: 40px;
}

#navigation a {
    color: white;
    text-decoration: none;
}

#login {
    background-color: var(--main-yellow-color);
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#login span {
    color: var(--main-red-color);
    font-family: title;
    font-weight: 700;
    text-decoration: none;
}


#movie-info div div {
    font-family: title;
    max-width: 500px;
}

#movie-description {
    max-width: 80%;
    letter-spacing: 0.7px;
    font-family: Times;
    font-size: 17px;
    color: rgb(182, 182, 182);
    line-height: 20px;
}

#movie-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#all-genres {
    margin: 10px;
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.genres {
    text-align: center;
    width: 100px;
    color: var(--main-red-color);
    background-color: var(--main-yellow-color);
    border-radius: 3px;
    margin: 10px;
    padding: 2px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0px;
}

.review-text {
    font-family: arial;
    color: rgb(211, 211, 211);
    max-width: 300px;
}

.button {
    text-align: center;
    width: 150px;
    padding: 5px;
    margin: 0px 5px;
    font-size: 15px;
    font-family: main-title;
    font-weight: 600;
    color: var(--main-yellow-color);
    background-color: var(--main-red-color);
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

#user-review-button {
    display: none;
}

#user-review-button.logged-in span {
    display: inline-block;
    background-color: var(--main-yellow-color);
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--main-red-color);
    font-family: title;
    font-weight: 700;
    cursor: pointer;
}

#main-section{
    display: flex;
    justify-content: space-between;
}

#my-reviews img{
    height: 300px;
}

.one-review{
    display: flex;
    align-items: center;

    gap: 10px;
    border-bottom: 1px solid var(--main-yellow-color);
    padding: 10px;
    margin: 10px;

    font-family: arial;
    color: rgb(211, 211, 211);
    max-width: 600px;
}

.one-review h4{
    color: var(--main-yellow-color);
}

.picture-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-review-form{
    margin-right: 30px;
}

#edit-review-form #edit-review-titel{
    display: flex;
    align-items: center;
}

#edit-review-form img{
    margin-left: 5px;
}

#edit-review-form button{
    width: 100px;
}

#navigation a {
    display: flex;
}