@font-face {
    font-family: main-title;
    src: url(Test\ Tiempos\ Collection/test-tiempos-headline-vf-roman.woff2);
}
@font-face {
    font-family: text;
    src: url(test-signifier-vf-roman.woff2);
}

:root {
    --main-yellow-color: rgb(243, 183, 0);
    --main-red-color: rgb(202, 60, 37)
}

body {
    color: rgb(255, 255, 255);
    margin: 0;
    background-color:rgb(35, 29, 29);
}

main {
    width: 800px;
    margin: auto;
}

#logo {
    height: 25px;
}

h1 { /* Stora titlar som sidnamn*/
    font-family: main-title;
    letter-spacing: 1px;
    margin: 10px;
}

h2 {
    font-family: main-title;
}

#navigation div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(23, 22, 16);
    color: white;
    padding: 10px 20px;
}

#login {
    background-color: var(--main-yellow-color);

    padding: 10px 15px;
    border-radius: 5px;
}

#login a {
    color: var(--main-red-color);
    font-family: arial;
    font-weight: 700;
    text-decoration: none;
}

#log-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#log-in, #sign-up {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;

    background-color: rgb(253, 215, 126);
    border: 1px solid rgb(214, 165, 50);
    padding: 40px;
    border-radius: 5px;
}

.submit {
    background-color: rgb(255, 232, 179);
    border: 2px solid rgb(214, 165, 50);
    padding: 3px;
}

#search-bar {
    transition: 0.5s;
    padding: 15px;
    margin: 10px;
    width: 500px;
    border-radius: 20px;
    font-size: 18px;
    border: 0;
    opacity: 70%;
}

#search-bar:hover {
    opacity: 100%;
    transition: 0.5s;
}

#filtering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#movie-filter {
    text-align: center;
}

.button {
    padding: 8px 25px;
    margin: 0px 5px;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    color: var(--main-red-color);
    background-color: var(--main-yellow-color);
    border: 0px;
    border-radius: 5px;
}

#movie-section {
    text-align: center;
}

#all-movies {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.movie img {
   height: 200px;
    width: 150px;
}

.movie img:hover {
    border: 3px solid var(--main-yellow-color);
    cursor: pointer;
    transition: 0.3s;
}

